#!/usr/bin/env bash

# export GITHUB_TOKEN=$(op read "op://Private/1pcli-github-api-token")

if [[ -e /opt/homebrew/bin/gh ]]; then
  export GH_PATH=/opt/homebrew/bin/gh
fi

TF_VAR_RENOVATE_APP_ID=$(op read "op://Private/1pcli-githubapp-selfhosted241renovatebot/njelohmput7riwdcrif7vahana")
export TF_VAR_RENOVATE_APP_ID
