#!/usr/bin/env bash
set +x # hide secret env values from output

if [[ "true" == "$CI" ]]; then
  if ! type op &>/dev/null; then
    echo "CI=$CI"
    echo "op: command not found"
    set -x
    exit 0
  fi
fi

if [[ -e /opt/homebrew/bin/gh ]]; then
  export GH_PATH=/opt/homebrew/bin/gh
fi

set +x # hide secret env values from output

# export GITHUB_TOKEN=$(op read "op://Private/1pcli-github-api-token")

TF_VAR_RENOVATE_APP_ID=$(op read "op://Private/1pcli-githubapp-selfhosted241renovatebot/njelohmput7riwdcrif7vahana")
export TF_VAR_RENOVATE_APP_ID

TF_VAR_RENOVATE_PRIVATE_KEY=$(op read "op://Private/1pcli-githubapp-selfhosted241renovatebot/private key")
export TF_VAR_RENOVATE_PRIVATE_KEY

# reduce parallelism
PARALLELISM_ARG="-parallelism=1"
TF_CLI_ARGS_plan="$PARALLELISM_ARG"
export TF_CLI_ARGS_plan
TF_CLI_ARGS_apply="$PARALLELISM_ARG"
export TF_CLI_ARGS_apply
