name: shell-checks

on:
  pull_request:
    paths:
      - '**.sh'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pretty:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          show-progress: false

      - name: Apply shfmt and find unformatted files
        run: |
          bash -ex ./.github/shfmt.sh
